<div class="container">

  <div class="row">

    <div class="col-md-6" id="articleSection">

      {{#if article}}


      {{#each article}}
      <p>{{this.title}}</p>
      <a href={{this.link}}>
        <p>Link to original article</p>
      </a>
      <p>{{this.summary}}</p>
      <button type="button" class="btn btn-secondary leaveComment" data-id={{this._id}}>Leave Comment</button>
      {{!-- <button type="button" class="btn btn-secondary saveArticle" data-id={{this._id}}>Save article</button> --}}
      <br>
      {{/each}}

      {{else}}
      <h3>There are no new articles. Please click on "Scrape" button.</h3>
      {{/if}}

    </div>

    <div class="col-md-6" id="noteSection"></div>
  

      






