{{!-- <div class="jumbotron bg-transparent text-center text-white">
    <h1 class="display-4">Saved Articles</h1>
</div>


<div class="container">

  <div class="row">

    <div class="col-md-6" id="SavedArticles">

   {{#if article}}


      {{#each article}}
      <p>{{this.title}}</p>
      <a href={{this.link}}>
        <p>Link to original article</p>
      </a>
      <p>{{this.summary}}</p>
      <button type="button" class="btn btn-secondary viewComment" data-id={{this._id}}>View Comment</button>
      <button type="button" class="btn btn-secondary deleteArticle" data-id={{this._id}}>Delete article</button>
      <br>
      {{/each}}

      {{else}}
      <h3>There are currently no saved articles available. Go save some!</h3>
      {{/if}}

    </div>




    </div>

    </div> --}}

      






